html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1; /* Rozciągnij główną treść */


}
/* Efekt focusa np. dla .btn, inputów itp. */
.btn:focus, .btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Formularze */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    form .form-group {
        margin-bottom: 15px;
    }

    form label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    form input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
    }

        form input:focus {
            border-color: #258cfb;
            box-shadow: 0 0 5px rgba(37, 140, 251, 0.5);
            outline: none;
        }

    form button {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #258cfb;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        form button:hover {
            background-color: #1b6fd1;
        }

        form button:focus {
            box-shadow: 0 0 5px rgba(37, 140, 251, 0.7);
            outline: none;
        }

/* Logo w navbarze */
.navbar-brand img {
    height: 100px;
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}
/* Kontener dla animacji */
#particles-container {
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    z-index: 0;*/
/*    overflow: hidden;*/
    background: linear-gradient(to bottom, #000428, #004e92);
}

/* Widoczność animacji tylko na stronie głównej */
body.home-index #particles-js {
/*    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;*/
}

/* Domyślnie ukryj animację na innych stronach */
#particles-js {
/*    display: none;*/
}

/* Kontener dla treści powitalnej */
.welcome-container {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.home-container {
    background: linear-gradient(to bottom, #000428, #004e92);
}
/* Stopka */
footer {
    position: relative;
    z-index: 1;
    background-color: white;
    text-align: center;
}

