bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vscode/
.vscode-test/

*.dockerignore
docker-compose.override.yml

*.log
*.tlog
*.idb
*.pidb

app.publish/
*.exe
*.dll
*.pdb
*.cache
*.so
*.dylib
*.lib

.DS_Store
Thumbs.db

*.db
*.lock.json

secrets.json

launchSettings.json

