@{
    ViewData["Title"] = "Home Page";
}

<div id="particles-container">
    <div class="welcome-container">
        <h1>Welcome to FaceSpace</h1>
        <p>Create an account and join the universe of connections!</p>
        @* <button onclick="window.location.href='/Account/Register'" class="btn btn-primary">Sign Up</button> *@
    </div>
</div>
